body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
 
}
*{
  font-family: 
  sans-serif !important;
}
ul{
  list-style: none !important;
}
nav>ul{
  display: flex;
  align-items: center;



}
header{
  padding:0 1rem;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img{
  display: block;
  width: 26px !important;
  height: 26px !important;
}
button{
  background: linear-gradient(109deg, #6f4fbf 26.43%, #4b338a 77.39%);
  border: none;
  color: #fff;
  padding: 8px 11px;
  border-radius: 10px;
}
.btn{
  display: flex;
  gap: 20px;

}
.spin{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}